

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

:hover{
    transition: 0.25s;
    
}

/* CSS START!!! */

body{
    font-family: 'Angkor', cursive;
}
h1{
    font-family: 'Angkor';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    
    color: #000000;
}

h2{
    font-family: 'Angkor';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    /* text-align: center; */
    
    color: #000000;
}

h4{
    font-family: 'Angkor';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    /* text-align: center; */
}

/*  WRAPPER CONTAINER (MAIN CONTAINER) */
.wrapper{
    
    position: absolute;
    width: 1360px;
    height: 768px;
    left: 0px;
    top: 0px;
    
    background: #FAF475;
 

}

/* MAIN IMAGES */
.coffee-ship {
    /* cupOfShip2 2 */


    position: absolute;
    width: 465px;
    height: 705px;
    left: 877px;
    top: 52px;

    background: url(cupOfShip2.png);
}

.hand {
    position: absolute;
    width: 488px;
    height: 288px;
    left: 0px;
    top: 488px;

    background: url(.png);
    transform: matrix(0, -1, -1, 0, 0, 0) scaleX(-1) rotate(270deg);
    margin: 0%;
    padding: 0%;
    border: 0px;

}

/* HEADER CONTAINER */
.header{
    position: absolute;
    width: 100%;
    height: 54px;
    left: 0px;
    top: 0px;
    
    background: #DCF7FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-text{
    position: absolute;
    width: 749px;
    height: 42px;
    left: 44px;
    top: 12px;

    font-family: 'Angkor';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;

    color: #000000;
    margin: 0px;
}

.icon{
    margin-right: 16px;
    border-radius: 50%;
}

.header-icons{
    position: absolute;
    width: 300px;
    height: 40px;
    left: 1008px;
    top: 8px;
    
}

.icon:hover{
    background: #FBE335;
    cursor: pointer;
}

/* TEST SECTION CONTAINER */
.test-section-container{

    position: relative;
    width: 372px;
    height: 400px;
    left: 44px;
    top: 116px;
    
    background: #DCF7FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.52);
    padding-left: 20px;
    padding-right: 32px;
    padding-top: 32px;
    box-sizing: border-box;
    
}

/* FIRST TEST */
.test-input-case{
   
    width: 100px;
    height: 17px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.test-input-case:hover{
    background: #FBE335;
    
}

/* SECOND TEST */

.cases-of-test{
    position: relative;
    width: 320px;
    height: 40px;
    
    margin: 0px 0px 16px 0px;
    box-sizing: border-box;

}

.test-section-text {
    width: 232px;
    height: 40px;
    margin: 0px;
}

.answer-place {

    height: 20px;
    margin: 0px;

    position: absolute;
    right: 84px;
    top: 22px;
    color: #1C645B;
}

#answer1{
    background-color: #1C645B;
}

/* BUTTONS CHECK - SHOW */
.check-show-cases{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 40px;

    position: absolute;
    left: 240px;
    top: 0px;
}


.check-button {
    width: 80px;
    height: 20px;

    background: #F6DCFF;
    border: 1px solid #000000;
    box-sizing: border-box;


    padding: 0px;
    /* padding-top: 0px;
    padding-bottom: 5px;

    margin-top: 0px;
    margin-bottom: 0px; */


}

.show-button {
    width: 80px;
    height: 20px;

    background: #F6DCFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 0px;
    

}

.check-button:hover, .show-button:hover{
    background-color: #16A0EE;
    cursor: pointer;
}

.button-text  {
    margin: 0px 18px 0px 18px;
    display: flex;
    justify-content: center;
    
    /* width: 44px;
    height: 15px; */
    font-family: 'Angkor';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
    
}



.arrow{
    position: absolute;
    bottom: 8px;
    right: 48px;
}

.check-button:active, .show-button:active{
    color: #ED4646;
    background-color: #16A0EE;
}




/* email-container-section (CENTRAL SECTION)*/

.email-container-section{
    position: relative;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;


    top: 150px;
    left: 464px;
    width: 370px;


    box-sizing: border-box;
    padding: 0px 32px 48px 32px;

    background: #F6DCFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.52);
    
}
.image-2da{
    align-self: flex-end;

    width: 115px;
    height: 115px;
    margin-top: 12px;
    margin-right: -20px;
    
}


.email-text-title{

    text-align: center;
    color: #000000;
}
.email-text{
    margin-bottom: 8px;
    text-align: center;
    color: #1C645B;
}

.input-email{
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 28px;
    width: 306px;
    height: 40px;

    border: none;
    color: #1C645B;
    padding-left: 14px;
    font-size: 12px;
    line-height: 22px;

}

.input-email::-webkit-input-placeholder{
    color: #1C645B;

}
.input-email::-moz-placeholder{
    color: #1C645B;
}

.input-email:hover{
    box-shadow: 0px 0px 2px 1px #16A0EE;
}

.english-level-select{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 28px;
    width: 306px;
    height: 40px;
    border: none;
    
}

.english-level-select:hover {
    box-shadow: 0px 0px 2px 1px #16A0EE;
    cursor: pointer;
}

.error{
    box-shadow: 0px 0px 4px 3px #ED4646;
}

.option-text{
    color: #1C645B;
    padding-left: 14px;
    font-size: 12px;
    line-height: 22px;
    
}

.hr{
    position: absolute;
    color: #000000;
    width: 5px;
    height: 5px;
    display: flex;
}

.send-email-button{
    background: #1C645B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 306px;
    height: 40px;
    font-size: 12px;
    line-height: 22px;

    text-align: center;
    color: #FFFFFF;

    border: none;
}

.send-email-button:hover{
    box-shadow: 0px 0px 2px 1px #16A0EE;
    cursor: pointer;
    
}
.send-email-button:active{
    box-shadow: 0px 0px 2px 2px #000000;
    color: #ED4646;
}

/* FOOTER CONTAINER */

.footer{
    position: absolute;
    width: 100%;
    height: 32px;
    left: 0px;
    top: 768px;

    background: #DCF7FF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);


}
















